html, body{
    width:100%;
    height:100%;
    background-color: #f4dada;
}

.title{
    font-family: Raleway;
    text-align: center;
    font-size: 100px;
}

h1{
    font-family: Raleway;
    text-align: center;
    font-size: 70px;
}

.form{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;

}

.confirm_box{
    width: 100%;
    border-radius: 50px;
    background-color: #90303d;
}

#confirm_box{
    width: 100%;
    border-radius: 50px;
    background-color: #90303d;
}


.textfield{
    position : relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

.submit{
    background-color:  #90303d;
    font-family: Raleway;
    font-size: 50px;
    color:white;
    border-radius : 20px;
    margin: auto;

}


#confirm_box{
    margin:auto;
    font-family: Raleway;
    font-size: 3vw;
}

table{
    width:max-content;
    align-content: center;
    align-items: center;
    text-align: center;
    margin:auto; 
    padding: 2%;
    display: inline;
}

.isi{
    font-family : Raleway; 
    font-size : 1.5vw; 
    float: left;
}

#statuss{
    color: rgba(255, 255, 255, 1);
}

.statusbox{
    background-color: #90303d;
    border-radius: 50px;
    max-width: 800px;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    font-family: Raleway;

}
