<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>How are you?</title>
</head>
<body>
    <br><br><br><br><br><br>
   <h1>Hello, how are you?</h1>
   <br>
   <form method="POST">
    {% csrf_token %}
    <div class="row">
        <input type="text" class="form" id="status" name="name" placeholder="What's your name?" required>
    </div>
    <br>
    <div class="row">
        <input type="text" class="form" id="status" name="status" placeholder="How are you?" required>
    </div>
    <br>
    <div class="col-md-12">
        <div class="text-center">
            <button type="submit" class="btn" style="background-color: #90303d; color: aliceblue; border-radius: 50px;" name="submit" >Submit</button> 
        </div>
    </div>
    
   </form>
   <br>
   <div>
    <div class="col-md-12">
        <div class="text-center">
            <p id="status">Status Board</p>
            <button onclick="change()" style="background-color: #90303d; color: aliceblue; border-radius: 50px;" id="changeColor" class="btn">Change Color</button>
            <p> 
                {% for stats in stats %}
                <div class="statusbox">
                    <div class="row">
                        <div class="col-sm">
                            <p class="statuss" style="color: white;"> {{ stats.name }}</p>
                        </div>
                        <div class="col-sm">
                            <p class="statuss" style="color: white;"> {{ stats.status }}</p>
                        </div>
                        <div class="col-sm">
                            <p class="statuss" style="color: white;">{{ stats.time }}</p>
                        </div> 
                    </div>  
                </div>
                <br> 
                {% endfor %}
            </p>               
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<script>
    function change() {
      var status_table = document.getElementsByClassName("statuss");
      var i;
      for(i = 0; i < status_table.length; i++) {
        status_table[i].style.color = "rgba(126, 237, 241, 1)";
      }        
    }
  </script>

</html>